body {
    background-image: url("../images/raimuBg2.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

.card {
    margin-bottom: 30px;
}


.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 35px;
}

.tab-content {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.shopBox {
    margin-top: 40px;
}

.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: underline overline;
}

.aboutText {
    /* background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
    font-size: 25px;
    margin: 30px;
  }

.textBox { 
    background-color: black;
    margin: 30px;
    border: 1px solid black;
    opacity: 0.55;
    filter: alpha(opacity=60);
    border-radius: 15px;
}

#logo {
    position: absolute;
    z-index: -1;
    top: -30px;
    left: 5px;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    background-color: #000000
}
