body {
    background-image: url("../images/raimuBg2.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 35px;
}

.tab-content {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

h4 {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#logo {
    position: absolute;
    z-index: -1;
    top: -30px;
    left: 5px;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    background-color: #000000
}
